# Wallet Verifier Service Environment Variables
SERVICE_URL=http://localhost:8005
SERVICE_PORT=8005
APP_SECRET=dsfkwfkwfwdfdsfSaSe2e34r4frwr42rAFdsf2lfmfsmklfwmer
WWWALLET_URL=http://localhost:3000/cb
TRUSTED_ISSUERS=http://localhost:8003/openid
