# Wallet Verifier Service Environment Variables
SERVICE_URL=http://localhost:8005
SERVICE_PORT=8005
APP_SECRET=dsfkwfkwfwdfdsfSaSe2e34r4frwr42rAFdsf2lfmfsmklfwmer
WWWALLET_URL=http://localhost:3000/cb
DB_HOST=127.0.0.1
DB_PORT=3307
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=verifier
PRESENTATION_FLOW_RESPONSE_MODE=direct_post.jwt
TRUSTED_ISSUERS=http://localhost:8003/openid
CLOCK_TOLERANCE=60
SESSION_ID_COOKIE_MAX_AGE=900000
SESSION_ID_COOKIE_SECURE=false
SITE_NAME=wwWallet Verifier
SITE_SHORT_NAME=wwWallet Verifier
SITE_THEME_COLOR="#4d7e3e"
SITE_BACKGROUND_COLOR="#4d7e3e"
