extends layout.pug

block head-styles
	link(rel="stylesheet" href="/styles/error.css")

block layout-content
	section
		.container
			header.page__header
				h2 Error
				p #{msg}

			.error-page__actions
				a.Btn(href=redirect ? redirect : "/") #{locale.ReturnToMainPage}
