extends layout.pug

block head-styles
	link(rel="stylesheet" href="/styles/error.css")

block layout-content
	section
		.container.error-page
			header.error-page__header
				h1 Error
				p.error-page__message #{msg}

			.error-page__actions
				a.Btn(href=redirect ? redirect : "/") #{locale.ReturnToMainPage}
