#Header .header {
	height: auto;
	width: 100%;
	background-color: var(--primary-color);
	color: #fff;
	z-index: 500;
	display: block;
	position: relative;
	top: 0;
}

#Header .header-content {
	font-weight: 600;
	padding: 15px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--header-bg-color);
}

#Header .img-logo {
	height: 60px;
}

#Header .logo-area {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 8px;
}

#Header .logo-text {
	font-size: 24px;
	color: var(--header-item-color);
}

#Header .header-border {
	width: 100%;
	height: 4px;
	background: linear-gradient(358.5deg, var(--secondary-light-color) 0.09%, var(--primary-color));
}

/* Menu (desktop) */
#Header .menu-area {
	display: flex;
	align-items: center;
	gap: 12px;
}

#Header ul.menu {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

#Header li.menu-item a {
	color: var(--header-item-color);
	margin-right: 20px;
	text-decoration: none;
}

/* Mobile toggle hidden on desktop */
#Header .mobile-menu-toggle {
	display: none;
}

@media screen and (max-width: 1068px) {
	#Header .mobile-menu-toggle {
		display: block;
	}

	#Header ul.menu {
		display: none;
	}

	#Header #menu-toggle-button {
		background-color: transparent;
		border: none;
		font-size: 40px;
		color: var(--header-item-color);
		cursor: pointer;
	}

	#Header .menu {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background-color: var(--header-bg-color);
		z-index: 1;
		width: 100%;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	}

	#Header .menu.show-menu {
		display: block;
	}

	#Header .menu li.menu-item {
		padding: 10px;
	}

	#Header .menu li.menu-item a {
		text-align: center;
		display: block;
		margin-right: 0;
	}
}