.jsoneditor-poweredby {
	display: none !important;
}

.jsoneditor-string {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.jsoneditor-tree tr,
.jsoneditor-tree td,
.jsoneditor-tree table {
	border: 0 !important;
	border-collapse: collapse;
}

.jsoneditor-color {
	display: none !important;
}

/* Host wrapper */
.jsoneditor-host {
	border: 1px solid rgba(0, 0, 0, 0.18);
	border-radius: 4px;
	overflow: hidden;
	/* makes radius actually work */
	background: #fff;
}

/* Editor itself just fills the box */
.jsoneditor {
	border: none !important;
	height: 100% !important;
}
